[user]
	email = rodney.sostras@gmail.com
	name = Rodney Sostras

[core]
	editor = "code --wait"
	excludesfile = ~/.gitignore__global
#    	sshCommand = ssh -i ~/.ssh/id_ed25519_github -F /dev/null
#	sshCommand = ssh -i ~/.ssh/id_ed25519_bitbucket -F /dev/null
[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait $MERGED

[diff]
	tool = vscode

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[alias]
	ncommit = commit --allow-empty-message -m ''
	tree = log --decorate --oneline --graph --all
	undocommit = reset HEAD~1 --soft
	undo = reset ^HEAD --

[includeIf "gitdir:/home/rodney/projects/verzel/bayer/"]
    path="/home/rodney/.gitconfig.bayer"

[includeIf "gitdir:/home/rodney/projects/verzel/"]
    path="/home/rodney/.gitconfig.bitbucket"
